
#rightside{
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 0.5rem;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #595A4A;
}
.btn.btn-primary-custom {
    height: 2.5rem;
    border-radius: 10px;
    border-color: transparent;
    background-color: #E6E6E5; 
    color: #595A4A;
}
.btn.btn-primary-custom:hover {
    height: 2.5rem;
    border-color: transparent;
    background-color: #d4d4d3; 
    color: #474739;
}
.btn.btn-primary-custom:active {
    height: 2.5rem;
    border-color: transparent;
    background-color: #d4d4d3; 
    color: #f5f5f4;
}
.btn.active.btn-primary-custom {
    border-color: transparent;
    background-color: #a5a5a1; 
    color: #f5f5f4;
}
.btn.btn-primary-search {
    display: flex;
    height: 2.5rem;
    border-color: #A5A5A1;
    background-color: #E6E6E5; 
    color: #595A4A;
}
.btn.btn-primary-search:hover {
    display: flex;
    height: 2.5rem;
    border-color: #A5A5A1;
    background-color: #a4a4a2; 
    color: #474739;
}
#searchtools{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

main{
    background-color: #E6E6E5;
}
.form-control.form-control-custom {
    background-color: transparent;
    border-color: #A5A5A1;
    color: #595A4A;
}
.form-select.form-select-custom {
    background-color: transparent;
    border-color: #A5A5A1;
    color: #595A4A;
}
#maincontent{
    
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

.list-group-item.list-group-item-custom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    --bs-list-group-border-color: #A5A5A1;
    --bs-list-group-action-hover-color:#747470;
    --bs-list-group-action-active-color: #e8e7e3;
    --bs-list-group-action-active-bg: #a5a5a1;
    --bs-list-group-action-hover-bg: #d4d4d3;
    background-color: #E6E6E5;
    color: #595A4A
}

.add-border{
    border: 2px solid black !important
}
#namedocandicon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.byauthor-text{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.infodoc{
    display: flex;
    flex-direction: column;
}
.statusbar{
    height: 2rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}
.accesslevel-container{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-content: center;
    
    border-radius: 5px;
    
}
.dsp-level{
    align-self: flex-start;
    color: #9D8D30;
    background-color: #D4D1B2;
}
.close-level{
    align-self: flex-start;
    color: #9D5930;
    background-color: #D4BFB2;
}
.open-level{
    align-self: flex-start;
    color: #6C9663;
    background-color: #B2D4C0;
}
#open_user_role{
    align-self: flex-start;
}
.status-container{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

}

.reviewing-status{
    gap: 0.2rem;
    height: 1.5rem;
    align-items: center;
    color: #E6E6E5;
    background-color: #9C9AB1;
}
.archive-status{
    color: #E6E6E5;
    background-color: #B99999;
}
.expired-status{
    color: #E6E6E5;
    background-color: #CFA5A5;
}
.active-status{
    color: #6C9663;
    background-color: #B2D4C0;
}
#favicon{
    color: #E6E6E5;
    margin-left: 1rem;
}
#toastdiv{
    top: 0;
    right: 0;
}

#offcanvasRight{
    --bs-offcanvas-padding-x: 2rem;
    --bs-offcanvas-title-line-height: 4rem;
    --bs-offcanvas-bg: #595A4A;
    --bs-offcanvas-color: #D9D9D9
}
#offcanvasRightLabel{
    font-size: 1rem;
}

.btn-close.btn-close-custom{
    color: #D9D9D9;
    --bs-btn-color: #D9D9D9
}

.delete-standart-rules{
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    pointer-events: none;
}
.offcanvas-body{
    display: flex;
    flex-direction: column;
}

#readdocname{
    font-size: 1.7rem;
    color: #FEFDFA;
}
.block-read-doc {
    gap: 0px;
    width: 10rem; 
    height: 6.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #5D5D50; 
    border-color: #66665A;
    border: thin solid #66665A;
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.8rem;
    gap: 0.5rem;
}
.read-doc-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem
}
.block-read-doc:last-child{
    flex-basis: 100%;
}
.btn.btn-doc-read{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn.btn-doc-download{
    
    margin-top: 0.5rem;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-bg: #A5CBB2;
    --bs-btn-border-color: transperent;
    --bs-btn-color: #3C6E52
}
.btn.btn-doc-edit{

    --bs-btn-font-size: 1.2rem;
    --bs-btn-bg: #CFC99F;
    --bs-btn-border-color: transperent;
    --bs-btn-color: #7D7228
}

.btn.btn-doc-delete{

    --bs-btn-font-size: 1.2rem;
    --bs-btn-bg: #CD9B97;
    --bs-btn-border-color: transperent;
    --bs-btn-color: #7C3633
}
#byauthor-text-read-doc{
    margin-bottom: 0.5rem;
    font-size: 14px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    background-color: #E6E6E5;
    border-radius: 100%;
}
.avatar{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #E6E6E5;
    border-radius: 100%;
}
.circle:active{
    background-color: #d4d4d3;
}
#auth-dropdown-container.show{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#full_name_dropdown{
    margin-top: 10px;
}
#role_dropdown{
    margin-bottom: 10px;
}
#selected_page{
    margin: 0;
    opacity: 0.75;
    padding: 0;
    border-top: 3px solid;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 1px;
    width: 35px;
    color: #E6E6E5;
}
#select_page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#doc_page_bar{
    display: flex;
    height: 2rem;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}
.form-control-custom.form-width-fit{
    width: 3.4rem;
    text-align: center;
}
.btn.control_page_btn{
    display: flex;
    justify-content: center;
    border-color: #A5A5A1;
    background-color: #E6E6E5; 
    color: #595A4A;
    font-size: 15px;
}
#counter_page{
    display: flex;
    justify-content: center;
    border-color: #A5A5A1;
    background-color: #E6E6E5; 
    color: #595A4A;
    font-size: 15px;
    pointer-events: none;
}
#counter_page_container{
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
}
#page_control{
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
}