<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    <div id="loginwindow">
      <form id="loginform" onsubmit="loginfunc(event)">
        <div class="mb-3">
          <label for="loginuser" class="form-label">Логин пользователя</label>
          <input pattern="[A-Za-z0-9_-]{3,20}" type="text" class="form-control" id="loginuser" required>
          <label id="loginerrlabel" class="errorlabel"></label>
        </div>
        <div class="mb-3">
          <label for="password_user" class="form-label">Пароль</label>
          <input  type="password" class="form-control" id="password_user">
          <label id="passworderrlabel" class="errorlabel"></label>
        </div>
        
        <button type="submit" class="btn btn-primary">Войти</button>
        
      </form>
      <div id="toastdiv" class="toast-container position-fixed"></div>
      
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>
</body>
</html>
