<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Журнал</title>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <div id="favicon">
                    ДокументУчёт
                </div>
                <div id="rightside" >
                    <div id="doc_page">
                        <a href="#" class="btn btn-primary-custom " id="doc_select_page" aria-current="page">
                            <i class="bi bi-files" id="iconnavbtn"></i>
                            Документы
                            
                        </a>
                        
                    </div>
                    <div>
                        <div class="circle" data-bs-toggle="dropdown" >
                            <p class="delete-standart-rules" contenteditable="false" id="first_word_avatar"></p>
                            <p class="delete-standart-rules" contenteditable="false" id="last_word_avatar"></p>
                            <div class="dropdown-menu p-4 text-body-secondary" style="max-width: 200px;" id="auth-dropdown-container">
                                <div class="avatar" style="width: 50px; height: 50px;">
                                    <i class="bi bi-person-fill" style="font-size: 2rem;"></i>
                                </div>
                                <p class="delete-standart-rules" id="full_name_dropdown">Имя</p>
                                <p class="delete-standart-rules" id="role_dropdown">Роль</p>
                                <a href="#" class="btn btn-primary-auth-custom" id="backtologin" aria-current="page">
                                    Выйти
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <main>
                <div id="searchtools">
                    <select class="form-select form-select-custom" id="search_action">
                        <option value="" selected>Действие</option>

                    </select>
                    <select class="form-select form-select-custom" id="search_users">
                        <option value="" selected>Пользователь</option>

                    </select>
                    <div class="timestamp_container" id="start_timestamp_container">
                        <label for="inputPassword" class="col-sm-2 col-form-label">От:</label>
                        <input type="date" class="form-control form-control-timestamp" id="inputStartTimestamp">
                    </div>
                    <div class="timestamp_container" id="end_timestamp_container">
                        <label for="inputPassword" class="col-sm-2 col-form-label">До:</label>
                        <input type="date" class="form-control form-control-timestamp" id="inputEndTimestamp">
                    </div>
                </div>
                <div id="log_page_bar" class="page_bar">
                    <div id="counter_page_container">
                        <label for="formFile" class="form-label delete-standart-rules">На странице:</label>
                        <select class="form-select form-control-custom form-width-fit" id="count_log"  value="10">
                            <option value="10" selected>10</option>
                            <option value="25" selected>25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">150</option>
                            <option value="500">500</option>
                        </select>
                    </div>
                    
                    <div id="page_control">
                        
                        <button href="#" id="back_page_btn" class="btn control_page_btn" >
                            <i class="bi bi-caret-left "></i>
                            
                        </button>
                        <div class="btn " id="counter_page">-</div>
                        <button href="#" id="next_page_btn" class="btn control_page_btn" >
                            <i class="bi bi-caret-right "></i>
                            
                        </button>
                    </div>
                </div>
                
                <ul class="list-group" id="maincontent">
                    
                </ul>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">ЖУРНАЛ</h5>
                        <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p class="delete-standart-rules offcanvas_content_text" id="action_log">Название действия</p>
                        <p class="delete-standart-rules" id="byauthor-text-read-log">Сделал:</p>
                        <div class="statusbar" id="read_doc_statusbar">
                            
                        </div>
                        <hr class="separator-doc-info"></hr>
                        <div class="read-doc-container">
                            <div class="read_block_offcanvas">
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Название документа</p>
                                <p style="color: #FEFDFA;" class="delete-standart-rules" id="name_doc">-</p>
                            </div>
                            <div class="read_block_offcanvas">
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Рег. Номер документа</p>
                                <p style="color: #FEFDFA;" class="delete-standart-rules" id="reg_number_doc">-</p>
                            </div>
                            <div class="read_block_offcanvas">
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Дата исполнения</p>
                                <p style="color: #FEFDFA;" class="delete-standart-rules " id="created_at-log-label">12.05.2024</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form >
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Загрузить файл</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                    <select class="form-select" id="add_doc_category" required >
                                        <option selected>Категория</option>
                                    </select>
                                    <select id="add_doc_status" class="form-select" required>
                                        <option selected>Статус</option>
                                    </select>
                                    <select class="form-select" id="add_doc_access_level" required>
                                        <option selected>Уровень доступа</option>
                                    </select>
                                    <div class="mb-3 row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Название документа</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputNameDoc" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Департамент</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputDepartDoc" >
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Регистрационный номер</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputRegNumber" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Срок хранения</label>
                                        <input type="date" class="form-control" id="inputExpiredDate">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary" id="add_doc_btn">Добавить</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </main>
        </header>
        <div id="toastdiv" class="toast-container position-fixed"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script type="module" src="{{ url_for('static', filename='js/logs.js') }}"></script>
    </body>
</html>
