<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Пользователи</title>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <div id="favicon">
                    ДокументУчёт
                </div>
                <div id="rightside" >
                    <div id="doc_page">
                        <a href="#" class="btn btn-primary-custom " id="doc_select_page" aria-current="page">
                            <i class="bi bi-files" id="iconnavbtn"></i>
                            Документы
                            
                        </a>
                        
                    </div>
                    <div>
                        <div class="circle" data-bs-toggle="dropdown" >
                            <p class="delete-standart-rules" contenteditable="false" id="first_word_avatar"></p>
                            <p class="delete-standart-rules" contenteditable="false" id="last_word_avatar"></p>
                            <div class="dropdown-menu p-4 text-body-secondary" style="max-width: 200px;" id="auth-dropdown-container">
                                <div class="avatar" style="width: 50px; height: 50px;">
                                    <i class="bi bi-person-fill" style="font-size: 2rem;"></i>
                                </div>
                                <p class="delete-standart-rules" id="full_name_dropdown">Имя</p>
                                <p class="delete-standart-rules" id="role_dropdown">Роль</p>
                                <a href="#" class="btn btn-primary-auth-custom" id="backtologin" aria-current="page">
                                    Выйти
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <main>
                <div id="searchtools">
                    <a href="#" id="show_add_user_modal" class="btn btn-primary-search" data-bs-toggle="modal" data-bs-target="#container_add_user">
                        <i class="bi bi-plus"></i>
                        Добавить
                    </a>
                </div>
                <ul class="list-group" id="maincontent">
                    <!-- <li class="list-group-item list-group-item-action list-group-item-custom document_element" document_id="0">
                        
                        <div id="namedocandicon">
                            <i class="bi bi-file-earmark-word-fill" style="font-size: 1.5rem;"></i>
                            <div class="infodoc">
                                <p class="docname">Тестовый документ</p>
                                <p class="byauthor-text">Автор: Я</p>
                            </div>
                        </div>
                        <div class="statusbar ">
                            <div class="accesslevel-container open-level">
                                <p>Открытый</p>
                            </div>
                            <div class="status-container reviewing-status" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="${StatusDoc[data[i]?.status]?.label}">
                                <i class="bi bi-eye"></i>
                            </div>
                        </div>
                    </li> -->
                </ul>

                <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">ПОЛЬЗОВАТЕЛЬ</h5>
                        <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p id="open_full_name" class="delete-standart-rules">Имя и фамилия</p>

                        <hr class="separator-doc-info"></hr>
                        <div class="read-doc-container">
                            <div class="block-read-doc " >
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Роль</p>
                                <div id="open_user_role"></div>
                            </div>
                            <div class="block-read-doc">
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Департамент</p>
                                <p style="color: #FEFDFA;" class="delete-standart-rules" id="department-user-label">Бухгалтерия</p>
                            </div>
                            <div class="block-read-doc">
                                <p style="font-size: 0.8rem;" class="delete-standart-rules ">Статус</p>
                                <p style="color: #FEFDFA;" class="delete-standart-rules" id="is_active_label">Активный</p>
                            </div>
                            
                        </div>
                        <button type="button" class="btn btn-primary btn-doc-read btn-doc-edit" id="user-edit" data-bs-toggle="modal" data-bs-target="#container_edit_user">
                            <i class="bi bi-pencil-square"></i>
                            <p class="delete-standart-rules">Управление</p>
                        </button>
                    </div>
                    
                </div>
                
                <div class="modal fade" id="container_add_user" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addUserModalLabel">Добавление пользователя</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <div class="add_doc_info_selectors">
                                        <select class="form-select" id="add_user_role_select" required>
                                            <option value="" selected>Роль</option>
                                        </select>
                                    </div>
                                    <div class="mt-3 mb-3">
                                        <label for="inputAddFullNameUser" class="form-label">Имя и фамилия</label>
                                        <input type="text" class="form-control" id="inputAddFullNameUser" placeholder="Иван Иванов" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputAddLoginUser" class="form-label">Логин</label>
                                        <input type="text" class="form-control" id="inputAddLoginUser" placeholder="ivan_ivanov" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputAddPasswordUser" class="form-label">Пароль</label>
                                        <input type="password" class="form-control" id="inputAddPasswordUser" placeholder="Password1!" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputAddDepartUser" class="form-label">Департамент</label>
                                        <input type="text" class="form-control" id="inputAddDepartUser" placeholder="Отдел кадров">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary" id="add_user_btn">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="container_edit_user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование пользователя</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form >
                                <div class="modal-body">
                                    <div  class="add_doc_info_selectors">
                                        <select id="edit_user_status" class="form-select" required>
                                            <option value="" selected>Статус</option>
                                            <option value="1" selected>Активный</option>
                                            <option value="0" selected>Отключен</option>
                                        </select>
                                        <select class="form-select" id="edit_user_role_select" required>
                                            <option value="" selected>Роль</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 mt-3 row">
                                        <label for="formFile" class="form-label" >Имя и фамилия</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Иван Иванов" id="inputNameUser" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="formFile" class="form-label">Департамент</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputDepartUser" placeholder="Отдел кадров">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary" id="edit_user_btn">Изменить</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </main>
        </header>
        <div id="toastdiv" class="toast-container position-fixed"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script type="module" src="{{ url_for('static', filename='js/users.js') }}"></script>
    </body>
</html>
